@model List<Product>

<h1>Products</h1>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="productSearch col-4">
            <div class="ajaxbg d-none">
                <img src="~/images/ajax-loader.gif" />
                <p class="lead alert alert-success text-center d-none">
                    The product has been added!
                </p>
            </div>
            <img src="~/media/products/@item.Image" class="img-fluid" alt="" />
            <h4>@item.Name</h4>
            <div>
                @Html.Raw(item.Description)
            </div>
            <ul class="list-unstyled d-flex mb-0">
                @for (var j = 0; j < item.Rating; j++)
                {
                    <li>
                        <i class="fas fa-star fa-sm text-primary"></i>
                    </li>
                }
            </ul>
            <p>
                @item.Price.ToString("C2")
            </p>
            <p>
                <a asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id" data-id="@item.Id" class="btn btn-primary addToCart">Add to cart</a>
            </p>
            <p>
                <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id" data-id="@item.Id" class="btn btn-primary">View</a>
            </p>
        </div>
    }
    @if (ViewBag.TotalPages > 1)
    {
        <div class="d-flex w-100 justify-content-center">
            <pagination page-count="@ViewBag.TotalPages" page-target="/products" page-number="@ViewBag.PageNumber" page-range="@ViewBag.PageRange"></pagination>
        </div>
    }
</div>


@section Scripts {

    <script>
        $(function () {

            $("a.addToCart").click(function (e) {
                e.preventDefault();

                let ajaxDiv = $(this).parent().parent().find("div.ajaxbg");
                ajaxDiv.removeClass("d-none");
                let id = $(this).data("id");

                $.get('/cart/add/' + id, {}, function (data) {
                    $("div.smallcart").html(data);
                    ajaxDiv.find("img").addClass("d-none");
                    ajaxDiv.find("p").removeClass("d-none");
                    setTimeout(() => {
                        ajaxDiv.animate({ opacity: 1 }, function () {
                            $(this).addClass("d-none").fadeTo(.9, 9);
                            $(this).find("img").removeClass("d-none");
                            $(this).find("p").addClass("d-none");
                        });
                    });
                });
            });

        });
    </script>
}