@model Product

@{
    ViewData["Title"] = "Product Details";
}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        padding: 20px;
    }

    h1 {
        color: #333;
        text-align: center;
        margin-top: 20px;
    }

    dl.row {
        text-align: left;
    }

    dt.col-sm-2 {
        font-weight: bold;
        margin-top: 10px;
    }

    dd.col-sm-10 {
        margin-top: 10px;
    }

    img {
        max-width: 200px;
        max-height: 200px;
        transition: transform 0.3s;
    }

        img:hover {
            transform: scale(1.1);
        }


        a:hover {
            background-color: #0056b3;
        }
</style>
<h1>Product Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Slug)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Slug)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @for (var j = 0; j < @Model.Rating; j++)
            {
                <li>
                    <i class="fas fa-star fa-sm text-primary"></i>
                </li>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Model.Price.ToString("C2")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class="col-sm-10">
            @Model.Category.Name
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            <img src="~/media/products/@Model.Image" width="200" alt="" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
